* {
  margin: 0;
  padding: 0;
  color: rgb(62, 31, 113);
  font-size: large;
  font-weight: 750;
  box-sizing: border-box;
}

/* Requisito 1, 3 e 4 */
body {
  background-image: url('./images/wallpaperflare.com_wallpaper.jpg');
  height: 900px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  background-color: rgb(50, 167, 145);
  height: 145px;
}

h1 {
  font-size: 65px;
}

main {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 770px;
}

#trybewarts-forms-logo {
  display: inline-block;
  height: 500px;
  width: 500px;
}

.trybewarts-header-logo {
  margin: 10px 0 10px 10px;
  width: 130px;
}

.login-input {
  margin-right: 10px;
  padding-left: 10px;
  height: 40px;
  border-radius: 10px;
  border-style: solid;
  border-color: rgb(78, 44, 131);
  max-width: 250px;
}

[ type = 'radio' ] {
  height: 16px;
}

[ type = 'checkbox' ] {
  height: 16px;
}

input::placeholder {

  /* font-size: 16px; */
  color: rgb(158, 154, 139);
}

button {
  margin-right: 15px;
  width: 140px;
  font-size: larger;
  color: rgb(235, 235, 234);
  height: 40px;
  background-color: rgb(78, 44, 131);
}

button:disabled {
  opacity: 0.7;
}

button:active {
  transform: translateY(2px);
}

.trybewarts-login {
  display: flex;
}

#evaluation-form {
  display: flex;
  border-radius: 7px;
  width: 675px;
  background-color: rgba(50, 167, 145, 0.928);
  height: 700px;
  flex-flow: column wrap;
  justify-content: space-around;
  align-content: space-around;
}

#form-data {
  display: none;
  border-radius: 7px;
  width: 675px;
  background-color: rgba(50, 167, 145, 0.928);
  height: 700px;
  flex-flow: column wrap;
  justify-content: space-around;
  align-content: space-around;
}

#inner-form-container1 {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  justify-items: stretch;
  height: 120px;
  width: 675px;

  /* margin-left: 25px;
  margin-right: 25px;
  margin-top: 10px; */
  padding: 8px 10px;
  align-content: space-between;
  overflow: hidden;
}

#inner-form-container1 input {
  padding-left: 10px;
  height: 40px;
  border-radius: 10px;
  border-style: solid;
  border-color: rgb(78, 44, 131);
  width: 325px;
}

#inner-form-container1 select {
  height: 40px;
  border-radius: 10px;
  width: 325px;
}

.family [ type = 'radio' ] {
  width: 14px;
  height: 14px;
  margin-bottom: 0;
  margin-left: 20px;
  margin-right: 0;
}

.family {
  display: flex;
  flex-wrap: wrap;
  width: 220px;
  height: 120px;
  overflow: visible;
  align-content: space-between;
  align-items: center;
}

footer p {
  color: rgb(192, 24, 192);
  font-size: 16px;
}

.family p {
  margin-right: 104px;
  margin-left: 7px;
  height: 18px;
}

.family label {
  display: block;
  text-align: center;
  width: 240px;
}

hr {
  margin: 8px;
}

#subject-checks {
  display: flex;
  flex-wrap: wrap;
  width: 400px;
  height: 110px;
  overflow: hidden;
  align-content: space-between;

  /* align-items:stretch; */
  justify-content: space-between;
}

#inner-form-container2 {
  display: flex;
  width: 655px;
  height: 110px;
  margin-bottom: 8px;

  /* margin-left: 10px;
  margin-right: 10px; */
  flex-flow: row wrap;
  justify-content: space-around;
}

#inner-form-container3 {
  display: flex;
  flex-wrap: row wrap;
  margin: 8px 10px;
  justify-content: space-between;
}

#textarea-container {
  display: flex;
  flex-flow: column wrap;
  margin: 8px;

  /* overflow: scroll; */
}

#textarea {
  height: 180px;
  font-family: Trebuchet MS, Lucida Sans Unicode,
    Lucida Grande, Lucida Sans, Arial, sans-serif;
  font-size: 14px;
  color: rgb(30, 6, 116);
  padding: 7px;

  /* width: 90%; */

  /* margin-left: 10px; */
}

#textarea::placeholder {
  position: absolute;
  bottom: 7px;
  right: 7px;
}

#inner-form-container4 {
  display: flex;
  flex-wrap: row wrap;
  margin: 2px 10px 8px;
  justify-content: space-around;
  align-items: center;
}

footer {
  display: flex;
  justify-content: center;
  align-content: center;
  height: 20px;
}

/* #counter {
  bottom: 7px;
  right: 7px;
} */

/* [ type = 'range' ]::-webkit-progress-bar{
  appearance:initial;
  color: black;
} */

/* #tickmarks {
  display: flex;
  justify-content:space-around;
  width: 308px;
  align-content: center;
  align-items: center;

  width: 250px;
  overflow: visible;
} */

/* #feedback-evaluation {
  width: 50px;
  margin: 0 0 0 0;
  height: 15px;
}

#range-evaluation {
  display: flex;
  width: 300px;
  align-content: center;
  align-items: center;
  overflow:visible;
} */

/* #tickmarks li {
  list-style: none;

  padding-left: 5px;
  font-size: 18px;
} */
